/Data/commons-collections/
/Data/commons-lang/
/Data/deltaspike/
/Data/jspwiki/
/Data/kafka/
/Data/knox/
/Data/manifoldcf/
/Data/openwebbeans/
/Data/tapestry-5/
/Data/tika/
/Data/xmlgraphics-batik/
/Data/zeppelin/
